<div>
</div>
<div>
<%= form_for @user, url: users_path do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul><% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :name %>:
    <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :email %>:
  <%= f.text_field :email %>
  </p>
  <p>
  <%= f.label :password %>:
  <%= f.password_field :password %>
  </p>
  <p>
  <%= f.label :password_confirmation%>:            <%# this field shifts when error displays, need to correct %>
  <%= f.password_field :password_confirmation %>
  </p>
  <%= f.submit "Submit" %>
<% end %>
</div>
